*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  
  a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  button, input {
    margin: 10px;
    padding: 8px;
  }
  
  
  .container {
    padding: 20px;
  }
  .login-container,
.create-user-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-container h2,
.create-user-container h2 {
  text-align: center;
  color: #333;
}


.login-container input,
.create-user-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}


.login-container button,
.create-user-container button {
  display: block;
  margin: 20px auto;
}